---
//@ts-nocheck
const caseData = await fetch(
  "https://frontend-design-theme.netlify.app/api/caseStudy"
).then((response) => response.json());
---

<article>
  {
    caseData.sections.map((section, index) => (
      <section key={index}>
        {index === 0 ? <h2>{section.title}</h2> : <h3>{section.title}</h3>}

        {Array.isArray(section.content) ? (
          section.content.map((item, i) => <p key={i}>{item}</p>)
        ) : (
          <p>{section.content}</p>
        )}

        {/* Kun vis billedet i den første section */}
        {index === 1 && <img src="/public/images/casetext.png" alt="" />}

        {section.highlights && (
          <ul>
            {section.highlights.map((highlight, i) => (
              <li key={i}>{highlight}</li>
            ))}
          </ul>
        )}
      </section>
    ))
  }
</article>

<style>
  article {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: content;
    margin-top: 15%;
    align-items: center;
    justify-content: center;
  }

  article * {
    grid-column: content;
    width: 90%;
    place-self: center;
  }

  article *:not(:first-child) {
    margin-top: 20px;
  }

  div {
    display: flex;
    flex-direction: column;
    grid-column: content;
    width: 80%;
  }

  div *:not(:first-child) {
    margin-top: 20px;
  }

  h1 {
    font-size: var(--step-3);
  }

  h2,
  h3 {
    font-size: var(--step-2);
  }

  p {
    color: var(--font-color-alternate);
  }

  ul {
    color: var(--font-color-alternate);
    margin-bottom: 2rem;
  }

  img {
    border-radius: var(--border-rad);
  }
</style>
