---
import ArrowRight from "../icons/arrow--right.svg";
import ArrowLeft from "../icons/arrow-left.svg";

const finData = await fetch(
  "https://frontend-design-theme.netlify.app/api/financialProjections"
).then((response) => response.json());
---

<section>
  <div>
    <h1>{finData.title}</h1>
    <p>
      {finData.subtitle}
    </p>
  </div>
  <div>
    <div class="container-arrow-left">
      <ArrowLeft class="arrow-left" />
    </div>
    <div class="container-arrow-right">
      <ArrowRight class="arrow-right" />
    </div>
  </div>
</section>

<ul class="full-width">
  {
    finData.values.map(async (finData) => {
      const Icon = await import(`../icons/${finData.icon}.svg`).then(
        (module) => module.default
      );

      return (
        <li>
          <Icon />
          <h2>{finData.title}</h2>
          <p>{finData.description}</p>
          <a href={finData.link.url}>{finData.link.text}</a>
        </li>
      );
    })
  }
</ul>

<style>
  ul.full-width {
    list-style: none;

    grid-column: 1/-1;
    scroll-snap-type: inline mandatory;

    display: flex;
    gap: 1rem;
    overflow-x: auto;

    padding-inline: max(20px, 50% - 50rem / 2);
    scroll-padding-inline-start: max(20px, 50% - 50rem) / 2;

    li {
      flex-basis: min(90%, 400px);
      flex-shrink: 0;

      /*     scroll-snap-align: middle; */

      padding: 1rem;
      border: 1px solid black;
    }
  }
  section {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: content;
    margin: 20% 0 10% 0;

    div {
      display: grid;
    }

    > :first-child {
      grid-column: 1 / middle;
    }

    > :last-child {
      grid-column: middle / 3;
      align-items: end;
    }

    div:last-child {
      display: flex;
      justify-content: center;
    }

    div:first-child *:not(:first-child) {
      margin-top: 20px;
      color: var(--font-color-alternate);
    }

    h1 {
      font-size: var(--step-2);
    }

    .arrow-left,
    .arrow-right {
      padding: 1rem;
      box-sizing: content-box;
      cursor: pointer;
    }

    .container-arrow-left {
      background-color: var(--button-color-alternate);
      border-radius: var(--button-border-radius);
      margin-right: 10px;
    }
    .container-arrow-right {
      background-color: var(--button-color);
      border-radius: var(--button-border-radius);
      margin-left: 10px;
    }

    .arrow-left {
      filter: invert(1);
    }
  }
</style>
